<div class="container">

  <div class="play" *ngIf="marter" (click)="girar()">
    <div class="example-button-container" >
      <button mat-fab color="accent" >
        <mat-icon>{{play?'pause':'play_arrow'}}</mat-icon>
      </button>
    </div>
  </div>

  <div class="winbingo" [ngStyle]="win()">
    <div class="wordBingo">
      <p *ngFor="let element of arrayString; let i = index" class="{{element}}">{{element}}</p>
    </div>
    <div class="gana">
      <p>Ganadores</p>
      <p *ngFor="let element of bingo; let i = index">{{element.user}}</p>
      <button (click)="regresar()">Regresar</button>
    </div>
    
  </div>

  <div class="con-right">
    <div class="head-bingo">
        <div class="{{element}}" *ngFor="let element of arrayString; let i = index">
          <p >{{element}}</p>
        </div>
    </div>
      <div class="body-bingo">
        <div class="column1 column" >
          <div *ngFor="let element of numbersBingo.b; let i = index" >
            <p [ngStyle]="changeBGspan(element)">{{element}}</p>
          </div>
        </div>
        <div class="column2 column" >
          <div *ngFor="let element of numbersBingo.i; let i = index" >
            <p [ngStyle]="changeBGspan(element)">{{element}}</p>
          </div>
        </div>
        <div class="column3 column">
          <div *ngFor="let element of numbersBingo.n; let i = index"  >
            <p [ngStyle]="changeBGspan(element)">{{element}}</p>
          </div>
        </div>
        <div class="column4 column">
          <div *ngFor="let element of numbersBingo.g; let i = index" >
            <p [ngStyle]="changeBGspan(element)">{{element}}</p>
          </div>
        </div>
        <div class="column5 column" >
          <div *ngFor="let element of numbersBingo.o; let i = index" >
            <p [ngStyle]="changeBGspan(element)">{{element}}</p>
          </div>
        </div>
   
  </div>
  
</div>
<div class="contain">
    <div class="head-bingo2">
      <div class="{{element}}" *ngFor="let element of arrayString; let i = index">
        <p >{{element}}</p>
      </div>
    </div>
    <div class="body-bingo2">
      <div class="column1 column2" >
        <div *ngFor="let element of cardBingo.b; let i = index" class="pers" (click)="select(element,i,'b')" >
          <div [ngStyle]="changeBG(element)">
            <p>{{element.id}}</p>
          </div>
        </div>
      </div>
      <div class="column2 column2" >
        <div *ngFor="let element of cardBingo.i; let i = index" class="pers" (click)="select(element,i,'i')">
          <div [ngStyle]="changeBG(element)">
            <p>{{element.id}}</p>
          </div>
        </div>
      </div>
      <div class="column3 column2">
        <div *ngFor="let element of cardBingo.n; let i = index" class="{{element.id}} pers" (click)="select(element,i,'n')" >
          <div [ngStyle]="changeBG(element)">
            <p>{{element.id}}</p>
          </div>
        </div>
      </div>
      <div class="column4 column2">
        <div *ngFor="let element of cardBingo.g; let i = index" class="pers" (click)="select(element,i,'g')" >
          <div [ngStyle]="changeBG(element)">
            <p>{{element.id}}</p>
          </div>
        </div>
      </div>
      <div class="column5 column2" >
        <div *ngFor="let element of cardBingo.o; let i = index" class="pers" (click)="select(element,i,'o')" >
          <div [ngStyle]="changeBG(element)">
            <p>{{element.id}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="playerss">
    <div class="bingo-balls" >
      <div class="canto">

      </div>
      <div class="balls" *ngFor="let element of numberSeleted.reverse(); let i = index" [ngStyle]="balls(element)">
        <p>{{element}}</p>
      </div>
    </div>
    
    <div class="plays">

      <div class="row-show">
        <span class="material-icons">
          supervised_user_circle
        </span>
        <span>Jugadores - {{infoRoom.length}}</span>
      </div>

      <mat-card *ngFor="let element of infoRoom; let i = index" class="profile-card" 
      [ngClass]="{
        'active-profile':   element.phone == myInfo.phone ,
        'disabled-profile': element.phone != myInfo.phone 
      }"
    >
        <div *ngIf="element.phone == myInfo.phone">
          <div class="profile-detail" >
            <span class="material-icons">
              account_circle
            </span>
            <div class="detail">
              <p>{{element.phone == myInfo.phone ? 'Yo' : element.user}}</p>
              <p>{{element.phone}}</p>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card *ngFor="let element of infoRoom; let i = index" class="profile-card" 
        [ngClass]="{
          'active-profile2':   element.phone == myInfo.phone 
        }"
      >
          <div *ngIf="element.phone != myInfo.phone">
            <div class="profile-detail" >
              <span class="material-icons">
                account_circle
              </span>
              <div class="detail">
                <p>{{element.phone == myInfo.phone ? 'Yo' : element.user}}</p>
                <p>{{element.phone}}</p>
              </div>
            </div>
          </div>
      </mat-card>
    </div>
  </div>
  
</div>
