<div class="container">
  <div class="con-right">
    <div class="contain"  (swiperight)="swiperight($event)" (swipeleft)="swiperight($event)">
      <div class="head-bingo">
        <div class="{{element}}" *ngFor="let element of arrayString; let i = index">
          <p >{{element}}</p>
        </div>
      </div>
      <div class="body-bingo">
        <div class="column1 column" >
          <div *ngFor="let element of numbersBingo.b; let i = index" [ngClass]="flip()">
            <p>{{element}}</p>
          </div>
        </div>
        <div class="column2 column" >
          <div *ngFor="let element of numbersBingo.i; let i = index" [ngClass]="flip()">
            <p>{{element}}</p>
          </div>
        </div>
        <div class="column3 column">
          <div *ngFor="let element of numbersBingo.n; let i = index" class="{{element}}" [ngClass]="flip()">
            <p >{{element}}</p>
          </div>
        </div>
        <div class="column4 column">
          <div *ngFor="let element of numbersBingo.g; let i = index" [ngClass]="flip()">
            <p>{{element}}</p>
          </div>
        </div>
        <div class="column5 column" >
          <div *ngFor="let element of numbersBingo.o; let i = index" [ngClass]="flip()">
            <p>{{element}}</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <form [formGroup]="formGroup">

    <mat-form-field class="form-element" appearance="outline">

      <mat-label>Número de celular</mat-label>
      <input matInput  formControlName="phone" type="text" mask="000 000 000" maxlength="11">
      <button mat-icon-button matSuffix (click)="savePhone = !savePhone"  >
        <mat-icon>{{savePhone ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
      </button>
      <mat-error *ngIf="errorPhone()">
        {{ phoneError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput  formControlName="user" type="text" maxlength="20" numberStringOnly>
      <button mat-icon-button matSuffix (click)="saveUser = !saveUser">
        <mat-icon>{{saveUser ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
      </button>
      <mat-error *ngIf="errorUser()">
        {{ userError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Sala</mat-label>
      <input matInput  formControlName="room" type="text" maxlength="20" numberStringOnly autocomplete="off">
      <mat-error *ngIf="errorPassword()">
        {{ roomError }}
      </mat-error>
    </mat-form-field>

    <div class="container-button">

      <button mat-raised-button color="primary" type="submit" class="button" (click)="validate(formGroup.value,0)" >Crear sala</button>
      <button mat-raised-button color="accent" type="submit" class="button" (click)="validate(formGroup.value,1)" >Buscar sala</button>
    </div>

  </form> 

  
</div>